body {
  font-family: Arial, sans-serif;
  background-color: #101010;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #00aaff;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

#renderCanvas {
  height: 80vh;
}

a {
  color: #00aaff;
  text-decoration: none;
}

a:hover {
  color: #007;
  color: #0077cc;
}

.img-fluid {
    transition: transform 0.3s;
}

.img-fluid:hover {
    transform: scale(1.05);
}

p {
    margin-top: 10px;
}
